*
{
    padding:0;
    margin:0;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Stopwatch box */
#box {
    width:600px;
    height:350px;
    padding:20px;
    background-color:pink;
    text-align:center;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    color:white;
    font-size:20px;

    .initial{
        font-size:90px;
        display:flex;
        text-align:center;
        justify-content:center;
        margin-top:50px;
        color:white
    }
}

#button
{
    margin-top:auto;
    display:flex;
    justify-content:center;
    gap:10px;

}


/* Buttons */
button {
    width:129px;
    height:54px;
    margin:8px;
    font-size:18px;
    border:none;
    text-align:center;
    color:pink;
}

#container
{
    height:300px;
    width:400px;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    font-size:18px;
    color:pink;

}
