<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
</head>

<body>
{% if data %}
<table>
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Content</th>
</tr>

{% for obj in data %}
<tr>
    <td>{{ obj.title }}</td>
    <td>{{ obj.author }}</td>
    <td>{{ obj.content }}</td>
    <td><a href="{% url 'read_one' id=obj.id %}">Read</a></td>
    <td><a href="{% url 'update_one' id=obj.id %}">Edit</a></td>
    <td><a href="{% url 'delete_one' id=obj.id %}">Delete</a></td>
</tr>
{% endfor %}

{% else %}
<h3>No Data Found</h3>
{% endif %}
</table>

<h1>Create New Blog</h1>

<form method="post">
{{ form.as_p }}
{% csrf_token %}
<button type="submit">Submit</button>
</form>

</body>
</html>
