<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ obj.title }}</title>
</head>

<body>
    <h1>{{ obj.title }}</h1>

    <h5>
        <span>By: {{ obj.author }}</span>
        <span>Date: {{ obj.date_of_post.date }}</span>

        {% load tz %}
        {% timezone 'Asia/Kathmandu' %}
            <span>Last edited: {{ obj.last_updated }}</span>
        {% endtimezone %}
    </h5>

    <p>{{ obj.content }}</p>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
